$primary-color: #034DA2;
$second-color: #111111;
$third-color: #007F3E;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
ul,
li,
a{
    text-decoration: none;
    list-style: none;
}
body{
    font-size: 1.6rem;
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 20px;
}
.wrapper{
    max-width: 1920px;
}
.container{
    
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    &-highlight{
        width: 100%;
        min-height: 1024px;
        object-fit: cover;
    }
}
//------nav icon
.nav{
    &-icon-logo{
        cursor: pointer;
        margin: 1.3rem 0;
        margin-right: 4.4rem;
    }
    &-icon-home{
        cursor: pointer;
        margin-right: 4rem;
    }
    &-icon-search{
        cursor: pointer;
        margin-right: 1.5rem;
        position: relative;
        margin-left:3.6rem ;
        &-circle{
            position: absolute;
            top: -9px;
        }
        &-down{
            position: absolute;
            left: 13px;
            bottom: -9px;
        }
    }
    &-language{
        font-family: 'Mark Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        margin-left: 16px;
        margin-right: 6px;
    }
    &-icon-star{
    padding: 4px;
    border-radius: 50%;
    background-color: red;
    }
    &-icon-dropdown{
        margin-left: 10px;
    }
}
//--------nav-list
.nav-menu{
    
    position: relative;
    color: $primary-color;
    // justify-content: space-between;
    align-items: center;
    display: flex;
    &
    
    &-item:not(:last-child){
        margin-right: 2rem;
    }
    &-item{
        cursor: pointer;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
    &-list{
        
        text-transform: uppercase;;
        display: flex;
    }
}


// ------------intro------
.intro{
    position: relative;
    width: 100%;
    min-height: 830px; 
    background-image: url(./images/Rectangle\ 388.png);
    &-header{
        &-title{
            text-transform: uppercase;
            display: flex;
            color: transparent;
            text-shadow: 1px 1px 0 #034DA2;
            justify-content: center;
            align-items: center;
            margin-top: 6.9rem;
            margin-bottom: 4rem;
            font-size: 5.6rem;
            
        }
    }
    &-desc{
       
        display: flex;
        align-items: center;
        justify-content: center;
        &-text{
            font-family: 'Montserrat';
            font-style: italic;
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: $primary-color ;
            // padding: 15px 0;
            margin: 0 1.5rem;
        }
    }
    &-content{
        color: $primary-color;
        margin-top: 5.7rem;
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 700;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        &-title{
            margin-top: 8.5rem;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            /* or 167% */

            text-align: center;

        }
    }
    &-button{
        display: flex;
        justify-content: center;
        text-decoration-line: underline;
        margin-top: 4.6rem;
         &-more{
            font-family: 'Montserrat';
            font-style: italic;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: $primary-color;
            border: 1px solid $primary-color;
            padding: 10px 30px;
            border-radius: 60px;
        }
    }
    
}
.newpapers{
    position: relative;
    &-blue{
        position: absolute;
        opacity: 0.05;
    }
    &-blue1{
        left: 0;
        top: 570px;
    }
    &-blue2{
        left: 1318px;
        top: 933px;
        z-index: 0;
    }
    &-blue3{
        left: 1716px;
        top: 96px;
    }
    margin-top: 7.1rem;
    &-header{
        &-title{
            text-transform: uppercase;
            display: flex;
            color: transparent;
            text-shadow: 1px 1px 0 #034DA2;
            justify-content: center;
            align-items: center;
            margin-top: 6.9rem;
            margin-bottom: 4rem;
            font-size: 5.6rem;
            
        }
    }
    &-desc{
       margin-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &-text{
            font-family: 'Montserrat';
            font-style: italic;
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: $primary-color ;
            // padding: 15px 0;
            margin: 0 1.5rem;
        }
    }
    &-list{
       
        cursor: pointer;
        display: grid;
        // grid-template-columns: repeat(4,1fr);
        &-box1{ grid-area: box1;}
        &-box2{ grid-area: box2;}
        &-box3{ 
            grid-area: box3;
            position: relative;
        }
        &-box4{ grid-area: box4;}
        &-box5{ grid-area: box5;}
        &-box6{ grid-area: box6;}
        &-box7{ grid-area: box7;}
        &-box8{ grid-area: box8;}
        &-box9{ grid-area: box9;}
        grid-template-areas:
            'box1 box1 box2 box3'
            'box1 box1 box4 box5'
            'box6 box7 box8 box9'
        ;
        &-box3::after{
            content: '';
            position: absolute;
            width: 30px;
            height: 14px;
            color: #007F3E;
            border-top: transparent;
            border-bottom: transparent;

        }
        // margin-top:4rem ;
        &-box1{
            position: relative;
            width:570px;
            height: 570px;
            background-image: url(./images/Rectangle\ 397.png);
            &-text{
                padding: 25px;
                height: 139px;
                color: white;
                position: absolute;
                bottom: 0;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 30px;
                /* or 136% */
                background-color: #034da28f;
                display: flex;
                align-items: center;
            }
        }
    }
    &-box{
        z-index: 1;
        padding: 15px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        width: 285px;
        height: 285px;
        background-color: white;
    }
    &-button{
        display: flex;
        justify-content: center;
        text-decoration-line: underline;
        margin-top: 4.6rem;
         &-more{
            font-family: 'Montserrat';
            font-style: italic;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: $primary-color;
            border: 1px solid $primary-color;
            padding: 10px 30px;
            border-radius: 60px;
        }
    }
}