$primary-color: #034DA2;
$second-color: #111111;
$third-color: #007F3E;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
ul,
li,
a{
    text-decoration: none;
    list-style: none;
}
body{
    font-size: 1.6rem;
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 20px;
}
.wrapper{
    max-width: 1920px;
}
.container{
    
    max-width: 1140px;
    // padding: 0 15px;
    margin: 0 auto;
}
.header{
    &-highlight{
        width: 100%;
        min-height: 1024px;
        object-fit: cover;
    }
}
//------nav icon
.nav{
    &-icon-logo{
        cursor: pointer;
        margin: 1.3rem 0;
        margin-right: 4.4rem;
    }
    &-icon-home{
        cursor: pointer;
        margin-right: 4rem;
    }
    &-icon-search{
        cursor: pointer;
        margin-right: 1.5rem;
        position: relative;
        margin-left:3.6rem ;
        &-circle{
            position: absolute;
            top: -9px;
        }
        &-down{
            position: absolute;
            left: 13px;
            bottom: -9px;
        }
    }
    &-language{
        font-family: 'Mark Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        margin-left: 13px;
        margin-right: 13px;
    }
    &-icon-star{
    padding: 4px;
    border-radius: 50%;
    background-color: red;
    }
    &-icon-dropdown{
        margin-left: 13px;
    }
}
//--------nav-list
.nav-menu{
    
    position: relative;
    color: $primary-color;
    
    align-items: center;
    display: flex;
    &
    
    &-item:not(:last-child){
        margin-right: 4rem;
    }
    &-item{
        cursor: pointer;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
    &-list{
        
        text-transform: uppercase;;
        display: flex;
    }
}


// ------------intro------
.intro{
    position: relative;
    width: 100%;
    min-height: 830px; 
    background-image: url(./images/Rectangle\ 388.png);
    &-header{
        &-title{
            display: flex;
            color: transparent;
            text-shadow: 1px 1px 0 #034DA2;
            justify-content: center;
            align-items: center;
            margin-top: 6.9rem;
            margin-bottom: 4rem;
            font-size: 5.6rem;
            
        }
    }
    &-desc{
       
        display: flex;
        align-items: center;
        justify-content: center;
        &-text{
            font-family: 'Montserrat';
            font-style: italic;
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: $primary-color ;
            // padding: 15px 0;
            margin: 0 1.5rem;
        }
    }
    &-content{
        color: $primary-color;
        margin-top: 5.7rem;
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 700;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        &-title{
            margin-top: 8.5rem;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            /* or 167% */

            text-align: center;

        }
    }
    &-button{
        
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        
        &-more{
            display: flex;
            align-items: center;
        text-align: center;
        text-decoration-line: underline;
        }
    }
    
}